extends layouts/base.jade

block main_content
	.home-intro
		h1.title Focus your language learning.
		h3
			| Superglot helps you find exactly which words you should learn next,
			br
			| and helps you learn them.

	p Superglot is busily being built. Stay tuned.


	include partials/mailchimp-form.html