#word-score-popup: .inner
	.lemma
	ul.scores
		li.choice.number(data-score="0") &times;
		li.choice.number(data-score="1") 1
		li.choice.number(data-score="2") 2
		li.choice.number(data-score="3") 3
		li.choice.number(data-score="4") 4
		li.choice.text(data-score="-1") ignore
		//- input(type="radio", name="score", value="1")
		//- input(type="radio", name="score", value="2")
		//- input(type="radio", name="score", value="3")
		//- input(type="radio", name="score", value="4")
		//- input(type="radio", name="score", value="5")