#word-rating-popup: .inner
	.lemma
	ul.ratings
		li.choice.number(data-rating="0") &times;
		li.choice.number(data-rating="1") 1
		li.choice.number(data-rating="2") 2
		li.choice.number(data-rating="3") 3
		li.choice.number(data-rating="4") 4
		li.choice.text(data-rating="-1") ignore
		//- input(type="radio", name="rating", value="1")
		//- input(type="radio", name="rating", value="2")
		//- input(type="radio", name="rating", value="3")
		//- input(type="radio", name="rating", value="4")
		//- input(type="radio", name="rating", value="5")