doctype 5

- from 'mixins.jade' import form_field, form_select, form_field_raw, form_submit, grouped_columned_vocab_list, simple_vocab_list, vocab_progress_bar, vocab_list, annotated_vocab_word with context

html
	head
		title superglot
		link(rel="stylesheet", href="/static/build/main.css")
		link(rel="stylesheet", href="/static/fonts/fonts.css")
		link(rel="stylesheet", href="/static/bower/jquery-ui/themes/smoothness/jquery-ui.css")

		//- link(rel="stylesheet", href="/static/vendor/chosen-1.1.0/chosen.min.css")
		script(src="/static/bower/jquery/dist/jquery.min.js")
		script(src="/static/bower/jquery-ui/jquery-ui.min.js")
		script(src="/static/bower/bootstrap/dist/js/bootstrap.min.js")
		//- script(src="/static/vendor/chosen-1.1.0/chosen.jquery.min.js")
		script(src="/static/build/main.js")
	body
		block navbar
			include partials/navbar.jade

		.container
			block messages
				- var messages = (flashes or []) + get_flashed_messages(with_categories=true)
				.container
					.messages
						for category, message in messages
							div(class="alert alert-dismissable alert-#{category}")
								button.close(type='button', data-dismiss='alert', aria-hidden='true') &times;
								= message

			block main_content

			block footer
				footer#footer

			#html-templates
				#word-score-popup: .inner
					.lemma
					ul.scores
						li.choice(data-score="0") &times;
						li.choice(data-score="1") 1
						li.choice(data-score="2") 2
						li.choice(data-score="3") 3
						li.choice(data-score="4") 4
						//- input(type="radio", name="score", value="1")
						//- input(type="radio", name="score", value="2")
						//- input(type="radio", name="score", value="3")
						//- input(type="radio", name="score", value="4")
						//- input(type="radio", name="score", value="5")

			block scripts

				script.
					document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':54739/livereload.js?snipver=1"></' + 'script>');