doctype 5

- from 'mixins.jade' import form_field, form_select, form_field_raw, form_submit, grouped_columned_vocab_list, simple_vocab_list, vocab_progress_bar

//- needs to be defined in the template unfortunately
mixin vocab_list(words)
	if words|length > 100
		+grouped_columned_vocab_list(formatting.alpha_headings(words))
	else
		+simple_vocab_list(words)

html
	head
		title superglot
		link(rel="stylesheet", href="/static/build/main.css")
		link(rel="stylesheet", href="/static/fonts/fonts.css")
		link(rel="stylesheet", href="/static/bower/jquery-ui/themes/smoothness/jquery-ui.css")

		//- link(rel="stylesheet", href="/static/vendor/chosen-1.1.0/chosen.min.css")
		script(src="/static/bower/jquery/dist/jquery.min.js")
		script(src="/static/bower/jquery-ui/jquery-ui.min.js")
		script(src="/static/bower/bootstrap/dist/js/bootstrap.min.js")
		//- script(src="/static/vendor/chosen-1.1.0/chosen.jquery.min.js")
		script(src="/static/build/main.js")
	body
		block navbar
			include partials/navbar.jade

		.container
			block messages
				- var messages = (flashes or []) + get_flashed_messages(with_categories=true)
				.container
					.messages
						for category, message in messages
							div(class="alert alert-dismissable alert-#{category}")
								button.close(type='button', data-dismiss='alert', aria-hidden='true') &times;
								= message

			block main_content

			block footer
				footer#footer

			block scripts

				script.
					document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':54739/livereload.js?snipver=1"></' + 'script>');