doctype 5

- from 'mixins-collected.jade' import form_field, form_select, form_field_raw, form_submit with context
- from 'mixins-collected.jade' import grouped_columned_vocab_list, simple_vocab_list, vocab_table, vocab_list_inline with context
- from 'mixins-collected.jade' import annotated_vocab_word with context

html
	head
		title Wordcatcher
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,700,800,600' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,400italic' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Fjord+One' rel='stylesheet' type='text/css'>
		link(rel="stylesheet", href="/static/bower/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet", href="/static/build/main.css")
		link(rel="stylesheet", href="/static/fonts/fonts.css")
		link(rel="stylesheet", href="/static/fontastic/styles.css")
		link(rel="stylesheet", href="/static/bower/jquery-ui/themes/smoothness/jquery-ui.css")
		block styles

		script(src="/static/bower/react/react.js")
		script(src="/static/bower/react-infinite/dist/react-infinite.js")
		script(src="/static/bower/jquery/dist/jquery.min.js")
		script(src="/static/bower/lodash/lodash.min.js")
		script(src="/static/bower/jquery-ui/jquery-ui.min.js")
		script(src="/static/bower/bootstrap/dist/js/bootstrap.min.js")

		!= JSGlue.include()

	body(class=body_class)
		block html_body

		script(src="/static/build/main.js")
		script(src="/static/build/0.0.0.superglot.min.js")
		block scripts

