extends layouts/base.jade

block html_body
	block navbar
		include partials/navbar.jade

	#page-wrapper
		block messages
			- var messages = (flashes or []) + get_flashed_messages(with_categories=true)
			.container
				.messages
					for category, message in messages
						div(class="alert alert-dismissable alert-#{category}")
							button.close(type='button', data-dismiss='alert', aria-hidden='true') &times;
							= message

		block main_content

		block footer
			footer#footer

		#html-templates
			include partials/word_rating_popup.jade
