@import 'bootstrap';
@import 'compass';

body {
	background: white;
}

.container {

}

// .container {
// 	max-width: 80%;
// 	margin: auto;
// }

ul {
	list-style: none;
	text-align: justify;

	&.inline-list {
		li {
			@include border-radius(4px);
			border: 1px solid #ccc;
			display: inline-block;
			background: #eee;
			padding: 2px 4px;
			margin: 2px auto;

		}
	}
}

.navbar {
	a {
		display: inline-block;
		background: yellow;
		padding: 5px;
		margin-right: 10px;
	}
}