@import 'bootstrap';

body {
	background: white;
}

.container {

}

// .container {
// 	max-width: 80%;
// 	margin: auto;
// }

.navbar {
	a {
		display: inline-block;
		background: yellow;
		padding: 5px;
		margin-right: 10px;
	}
}