doctype 5

html
	head
		title superglot
		link(rel="stylesheet", href="/static/build/main.css")
		link(rel="stylesheet", href="/static/fonts/fonts.css")
		script(src="/static/bower/jquery/dist/jquery.min.js")
	body
		block navbar
			include partials/navbar.jade

		.container
			block messages
				- var messages = (flashes or []) + get_flashed_messages(with_categories=true)
				.container
					.messages
						for category, message in messages
							div(class="alert alert-dismissable alert-#{category}")
								button.close(type='button', data-dismiss='alert', aria-hidden='true') &times;
								= message

			block main_content

			block scripts

				script.
					document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':54739/livereload.js?snipver=1"></' + 'script>');