
form(role="form", method="post")
	.form-group
		label Title
		input.form-control(type="text", name="title")
	ul.nav.nav-tabs
		li
			.form-group
				label URL
				input.form-control(type="text", name="url")
		li
			.form-group
				label Plain Text
				textarea.form-control(name="body")
		li
			.form-group
				label Upload
				input.form-control(type="file", name="textfile")
	.form-group
		input(type="submit")