
.superglot
	span.sg
		// border: 1px solid rgba(0, 0, 0, 0.5)
		&.sg-common
			color: #777
		&.sg-tracked
			background: #efe
			cursor: pointer
		&.sg-untracked
			background: #fee
			cursor: pointer
		&.sg-unknown
			border: none