
.superglot
	$cursor-remove: url('chrome-extension://__MSG_@@extension_id__/images/cursor-remove.png') 12 12
	$cursor-known: url('chrome-extension://__MSG_@@extension_id__/images/cursor-known.png') 12 12
	$cursor-learning: url('chrome-extension://__MSG_@@extension_id__/images/cursor-learning.png') 12 12

	span.sg
		// border: 1px solid rgba(0, 0, 0, 0.5)
		&.sg-common
			color: #969
			background: #ccc
		&.sg-ignored
			color: #666
			background: #ccc
		&.sg-known
			background: #cfc
		&.sg-learning
			background: #ffc
		&.sg-untracked
			background: #fcc
		&.sg-invalid
			color: #999
			border: none

	&.is-adding-known
		.sg.sg-learning, .sg.sg-untracked
			cursor: $cursor-known, pointer
		.sg.sg-known
			cursor: $cursor-remove, pointer

	&.is-adding-learning
		.sg.sg-known, .sg.sg-untracked
			cursor: $cursor-learning, pointer
		.sg.sg-learning
			cursor: $cursor-remove, pointer

	// .sg.sg-recently-changed
	// 	cursor: inherit !important