
<div class="mailchimp-signup-form">
<form action="//superglot.us10.list-manage.com/subscribe/post?u=eec7398ca42c02b83c1d7c0f2&amp;id=abbbc4e789" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

	<label for="mce-EMAIL">
		<h3 class="title">Sign up for updates</h3>
	</label>
<div class="row">
	<div class="col col-md-6">
	<input type="email" value="" name="EMAIL" class="form-control required email" id="mce-EMAIL" placeholder="Enter your email address">
	</div>
	<div class="col col-md-6">
	<!-- <span class="input-group-btn"> -->
    	<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-lg btn-primary">
    <!-- </span> -->
    </div>
</div>
<!-- <div class="mc-field-group">
	<label for="mce-FNAME">First Name </label>
	<input type="text" value="" name="FNAME" class="form-control " id="mce-FNAME">
</div>
<div class="mc-field-group">
	<label for="mce-LNAME">Last Name </label>
	<input type="text" value="" name="LNAME" class="form-control " id="mce-LNAME">
</div> -->
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_eec7398ca42c02b83c1d7c0f2_abbbc4e789" tabindex="-1" value=""></div>
</form>
</div>