
$vocab-progress-bar-height: 2.5rem;

.vocab-table {
	td, th {
		&.rating {
			width: 3rem;
		}
		&.word {

		}
	}
}

.article-list-table {
	td, th {
		&.article-title {
			// max-width: 25%;
		}
		&.totals {
			min-width: 10rem;
		}
	}
}

.vocab-progress-bar {
	width: 100%;
	height: $vocab-progress-bar-height;
	border: 1px solid black;
	border-radius: 0px;
	background: none;
	overflow: hidden;

	.partition {
		height: $vocab-progress-bar-height;
		float: left;
	}
	.rating-1 {
		background: $color-rating-1;
	}
	.rating-2 {
		background: $color-rating-2;
	}
	.rating-3 {
		background: $color-rating-3;
	}
}
