extends layouts/default.jade

block main_content
	h1.title login
	form(method="post")
		!= form.csrf_token
		+form_field(form.email)
		+form_field(form.password, type="password")
		input(type="submit")
