extends layouts/default.jade

block main_content
	.container
		h1.title annotation test

block scripts
	script.
		var vocab = [
			{reading: "Hi"},
			{reading: "buddy"},
		];
		window.renderVocabList(vocab, document.body);