!!!
html
	head
		link(href="/static/bower_components/bootstrap/dist/css/bootstrap.css", type="text/css", rel="stylesheet")
	body
		block content

		script(src="/static/bower_components/bootstrap/dist/js/bootstrap.js")