extends _layout/base.jade

- from 'mixins.jade' import formfield, formsubmit

block main_content
	h1 words

	h2 add words?
	.row
		.col-sm-6
			h3 known
			form(method="POST", action=url_for('frontend.add_words', partition='known'))
				textarea(name="words", rows=7).form-control
				+formsubmit('add words')
		.col-sm-6
			h3 learning
			form(method="POST", action=url_for('frontend.add_words', partition='learning'))
				textarea(name="words", rows=7).form-control
				+formsubmit('add words')

	h2 known
	ul.inline-list
		for word in words.known
			li= word.reading
	h2 learning
	ul.inline-list
		for word in words.learning
			li= word.reading