extends layouts/default.jade

block main_content
	.container
		h1.title= _('study words') | title

	#study-panel

	script.
		$(function() {
			Superglot.renderFlashcardStudySession(document.getElementById('study-panel'));
		});
