extends layouts/default.jade

body_class = 'study-flashcards'

block main_content
	.study-words-container

		#study-panel

		script.
			$(function() {
				Superglot.renderFlashcardStudySession(document.getElementById('study-panel'));
			});
