extends layouts/default.jade

block main_content
	.container
		h1.title= _('study sentences') | title

		for sentence, vocab_pairs in sentences
			.annotated-sentence.annotated-words.style-a
				for vocab_word, occurrence in vocab_pairs
					+annotated_vocab_word(vocab_word, reading=occurrence.reading)