html {
	font-size: 62.5%;
}

body {
	background: white;
	font-family: 'Source Sans Pro', 'Myriad Pro', 'Helvetica', 'Arial', sans-serif;
	font-size: 2rem;
	color: $color-text;
}

.title {
	color: $color-title;
	font-family: 'ChunkFive';
	// text-transform: uppercase;
}

.future {
	opacity: 0.2;
}

a:link, a:visited {
	color: $color-primary;

	&:hover {
		color: $color-primary-light;
	}

	&.btn-primary {
		color: white;
	}
}

h1 {
	font-size: 5rem;
}
h2 {
	font-size: 4rem;
}
h3 {
	font-size: 3rem;
}
h4 {
	font-size: 2rem;
}

.align-center { text-align: center; }

.container {

}

.icon {
	vertical-align: middle;
	display: inline-block;
}

#footer {
	height: 100px;
}

.temp-info {
	@include clearfix;
	background: #ffe;
	border: 3px dotted darken(#ff3, 20%);
	padding: 10px 30px;
	margin: 30px auto;

	.icon {
		float: left;
		margin-right: 20px;
		margin-bottom: 10px;
	}
}

.table {
	th.center {
		text-align: center;
	}
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;

	&.inline-list {
		text-align: justify;
		li {
			@include border-radius(4px);
			border: 1px solid #ccc;
			display: inline-block;
			padding: 2px 4px;
			margin: 2px auto;
		}
	}
}

.navbar {
	height: $navbar-height;
	background: white;
	// border-bottom: 1px solid #aaa;
	box-shadow: 0 0px 12px rgba(black, 0.2);
	position: relative;
	margin: 0;

	a {
		text-decoration: none;
		padding: 10px;
	}

	.brand {
		line-height: $navbar-height;
		margin: auto 0;
		padding: 0;
		float: left;
		font-size: $navbar-height * 0.75;
	}

	.container > ul {
		padding-left: 3rem;
		&.left { float: left; }
		&.right { float: right; }

		> li {
			display: inline-block;

			> a {
				line-height: $navbar-height;
			}


		}
	}

	.nav-links {
		display: inline;
	}

	@media only screen and (min-width : 420px) {
		.nav-links {
			display: inline;
		}
	}
}

#page-wrapper {
	padding-top: 1rem;
}

.form-submit {
	margin-top: 15px;
}

.vocab-list {

	$padding: 1.5rem;

	li {
		padding: 0 $padding;
	}

	&.simple {

	}

	&.grouped.columned {
		// @include columns(16rem 5);
		// @include column-gap(0);
		// @include column-rule(1px, solid, #ddd);

		li.heading {
			// background: #eee;
			text-align: center;
			font-weight: bold;
			margin: 0.5rem $padding 0.5rem;
			font-size: 1.1em;
			// background: $color-primary-light;
			border-bottom: 2px solid $color-primary;
		}
	}
}

.annotated-sentence {
	display: block;
	.word {
		display: inline-block;
	}
}

.annotated-words {

	&.style-a {
		.word {
			$border-width: 3px;
			transition: border-color 150ms, background-color 150ms;
			cursor: pointer;
			line-height: 1em;

			border-color: transparent;
			border-width: $border-width;
			border-style: solid;
			padding: 1px 0px;
			margin: 2px auto;

			&[data-rating="-1"] {
				// background: #ddd;
				color: #aaa;
				cursor: not-allowed;
				&:hover {
					border-color: transparent;
				}
			}

			&:hover {
				border-color: rgba(black, 0.2);
			}

			&[data-rating="1"] { color: $color-rating-1; border-bottom-color: $color-rating-1; }
			&[data-rating="2"] { color: $color-rating-2; border-bottom-color: $color-rating-2; }
			&[data-rating="3"] { color: $color-rating-3; border-bottom-color: $color-rating-3; }

			&.selected {
				border-color: black;
			}

			&.due {
				color: inherit;
				&[data-rating="1"] { background: $color-rating-1; }
				&[data-rating="2"] { background: $color-rating-2; }
				&[data-rating="3"] { background: $color-rating-3; }

				position: relative;
				.due-marker {
					position: absolute;
					top: 0;
					right: 0;
					width: 8px;
					height: 8px;
					background: black;
					color: black;
				}
			}
		}
	}
	&.style-b {
		.word {
			$border-width: 3px;
			transition: border-color 150ms, background-color 150ms;
			cursor: pointer;
			line-height: 1em;

			border-color: transparent;
			border-width: $border-width;
			border-style: solid;
			padding: 1px 3px;
			margin: 2px auto;

			&[data-rating="-1"] {
				// background: #ddd;
				color: #aaa;
				cursor: not-allowed;
				&:hover {
					border-color: transparent;
				}
			}

			&:hover {
				border-color: rgba(black, 0.2);
			}

			&[data-rating="1"] { color: $color-rating-1; border-bottom-color: $color-rating-1; }
			&[data-rating="2"] { color: $color-rating-2; border-bottom-color: $color-rating-2; }
			&[data-rating="3"] { color: $color-rating-3; border-bottom-color: $color-rating-3; }

			&.selected {
				border-color: black;
			}

			&.due {
				color: inherit;
				&[data-rating="1"] { border-color: $color-rating-1; }
				&[data-rating="2"] { border-color: $color-rating-2; }
				&[data-rating="3"] { border-color: $color-rating-3; }

				position: relative;
				.due-marker {
					position: absolute;
					top: 0;
					right: 0;
					width: 8px;
					height: 8px;
					background: black;
					color: black;
				}
			}
		}
	}
}

.article-search {
	margin: 1rem auto;
	float: right;
}

.add-text-button {
	float: right;
	vertical-align: middle;
}

.big-search-input {
	padding: 0.75rem 2rem;
}

.callout-notice {
	background: #ffd;
	border: 1px dotted #333;
	padding: 2rem 5rem;
	margin: 2rem auto;
	width: 50%;
}

.alert-message {
	background: lighten(gray, 30%);
	border: gray;
}

#word-rating-popup {
	@include border-radius(8px);
	transition: height 200ms;

	// display: none;
	height: 0;
	background: white;
	box-shadow: 0px -2px 5px rgba(black, 0.5);
	// padding: 15px;
	position: fixed;
	bottom: 0px;
	width: 100%;
	left: 0;

	.inner {
		padding: 20px;
	}

	&.visible {
		height: 80px;
	}

	.lemma {
		display: inline-block;
		width: 30%;
		font-size: 2.4rem;
	}

	.ratings {
		display: inline-block;
	}

	.review-choice {
		font-size: 4rem;
		margin-left: 1rem;
		&.number {

		}
		&.other {
			margin-right: 2rem;
		}
	}
}

#html-templates {
	// display: none;
}

