
.home-intro {
	margin: 5rem auto;
}

.mailchimp-signup-form {
	text-align: left;
	// margin: auto;
	padding: 2rem 0;

	width: 50%;
	input.email {
		margin-bottom: 1rem;
		height: 4.5rem;
	}

	.col {
		text-align: left;
	}

}