
.home-intro {
	margin: 5rem auto;
}

.subscribe-streak {
	background: $color-rating-2;
}

.mailchimp-signup-form {
	text-align: left;
	margin: auto;
	padding: 2rem 0;

	input.email {
		margin: 0rem 0 2rem;
		padding: 2rem 1rem;
		font-size: 1.1em;
		max-width: 40rem;
	}

	.col {
		text-align: left;
	}

}