@import 'variables';

.study-panel {
	text-align: center;

	.flashcard-stack {
		position: relative;
		width: 100%;
		height: 40rem;
		padding: 5rem 0;
		overflow-x: hidden;
	}

	.flashcard {
		transition: left 0.75s;
		transition-timing-function: ease-in-out;
		position: absolute;
		left: 50%;
		top: 5rem;
		margin-left: -25%;
		width: 50%;
		min-height: 30rem;
		padding: 3rem;
		box-shadow: 1px 1px 4px rgba(black, 0.3);
		border-radius: 5px;
		background: white;

		.flashcard-front { display: block; }
		.flashcard-back { display: none; }

		&.flipped {
			.flashcard-front { display: none; }
			.flashcard-back { display: block; }
		}

		&.upcoming {
			left: 300%;
		}

		&.completed {
			left: -100%;
		}
	}

	.finished-studying {

	}

	.flashcard-answer-selector {

	}
	.flashcard-answer-set {

	}
	.flashcard-answer-ratings {

	}
	.flashcard-answer-other {

	}
}


.review-choice {
	transition: color 200ms, border-color 200ms;
	display: inline-block;
	cursor: pointer;
	vertical-align: middle;

	&.number {
		@include border-radius(50%);
		margin: 0 1px;
		// padding: 2px;
		font-size: 4rem;
		font-weight: 300;
		width: 4.8rem;
		height: 4.8rem;
		line-height: 4.8rem;
		text-align: center;
		border: 3px solid transparent;
		color: white;
		color: rgba(black, 0.3);

		&[data-rating="1"] { background: $color-rating-1; }
		&[data-rating="2"] { background: $color-rating-2; }
		&[data-rating="3"] { background: $color-rating-3; }

		&:hover {
			color: black;
		}
		&.selected {
			&:not([data-rating="0"]) {
				border: 3px solid black;
				color: black;
			}
			&[data-rating="1"] { background: $color-rating-1; }
			&[data-rating="2"] { background: $color-rating-2; }
			&[data-rating="3"] { background: $color-rating-3; }
		}
	}

	&.other {
		font-size: 2rem;
		margin-left: 3rem;
		color: rgba(black, 0.3);

		&:hover {
			color: black;
		}
	}
}