
$color-primary: #cd9038;
$color-primary-light: lighten(#cd9038, 30%);

$color-known: #5dc862;
$color-learning: #f3b64c;
$color-other: #f4f4f4;

$color-score-1: #f48d5b;
$color-score-2: #f4c75b;
$color-score-3: #ecea1a;
$color-score-4: #addd19;

// $color-score-4: #000;
$color-score-5: #000;

$navbar-height: 5rem;
$subnav-height: 4rem;

$vocab-progress-bar-height: 2.5rem;