
$color-primary: #cd9038;
$color-primary-light: lighten(#cd9038, 30%);

$color-rating-ignored: #f4f4f4;
$color-rating-1: #f48d5b;
$color-rating-2: #f0c92b;
$color-rating-3: #addd19;

$navbar-height: 5rem;

$vocab-progress-bar-height: 2.5rem;
