nav.navbar.navbar-default(role="navigation")
	.navbar-header
		.navbar-brand
			a(href="/")
				img(src="/static/images/logo-superglot.png", title="superglot")

	ul.nav.navbar-nav
		if user
			li
				a(href="/documents") documents
			li
				a(href="/words") words

	ul.user-info.nav.navbar-nav.navbar-right
		if user
			li.known.navbar-text= user.lemmaCounts.known
			li.learning.navbar-text= user.lemmaCounts.learning
			li.ignored.navbar-text= user.lemmaCounts.ignored
			li.dropdown
				a.dropdown-toggle(href="#", data-toggle="dropdown")
					= user.email
					b.caret
				ul.dropdown-menu
					li
						a(href="/logout") log out
		else
			li
				a(href="/login") log in