extends _base

block content
	h1.humongous SUPERGLOT

	if user
		h2
			| hi #{ user.email }! 
			a(href="/logout") log out?
	else
		h2
			a(href="/login") log in!

	//- h1
	//- 	a.icon.icon-google(href="/auth/google")