Flask==0.10.1
Flask-Assets==0.9
-e git+https://github.com/thadeusb/flask-cache@18cd9ebdb20e4d0f8f0900b971fcb8d48e27737d#egg=Flask_Cache-origin/master
Flask-Login==0.2.10
Flask-Script==0.6.7
Flask-WTF==0.9.5
Jinja2==2.7.2
MarkupSafe==0.19
PyYAML==3.10
WTForms==1.0.5
Werkzeug==0.9.4
beautifulsoup4==4.3.2
-e git+git@github.com:maackle/flask-mongoengine.git@b3547546ea7805b1f12c2da656bb4c9bd5190c37#egg=flask_mongoengine-origin/master
itsdangerous==0.23
mongoengine==0.8.7
pyjade==2.2.0
pymongo==2.6.3
requests==2.2.1
six==1.5.2
textblob==0.8.4
webassets==0.9
