-e git+git@github.com:mitsuhiko/babel.git@246996b0ee51e49ebcd504e234d3bcdcb178996c#egg=Babel
CoffeeScript==1.0.9
Flask==0.10.1
Flask-Assets==0.9
Flask-Babel==0.9
-e git+https://github.com/thadeusb/flask-cache@18cd9ebdb20e4d0f8f0900b971fcb8d48e27737d#egg=Flask_Cache
Flask-Login==0.2.10
Flask-Script==0.6.7
Flask-WTF==0.9.5
Jinja2==2.7.2
MarkupSafe==0.19
PyExecJS==1.0.4
PyYAML==3.10
WTForms==1.0.5
Werkzeug==0.9.4
beautifulsoup4==4.3.2
-e git+git@github.com:maackle/flask-mongoengine.git@b3547546ea7805b1f12c2da656bb4c9bd5190c37#egg=flask_mongoengine-master
gunicorn==18.0
itsdangerous==0.23
mongoengine==0.8.7
newrelic==2.22.1.20
-e git+git@github.com:maackle/pybabel-jade.git@a69f1c07b05426d6c006d8edda50a23b79fd8252#egg=pybabel_jade
-e git+git@github.com:SyrusAkbary/pyjade.git@c397ba21f94673f26d383fbff1bd734b53d501a5#egg=pyjade-master
pymongo==2.6.3
pytz==2014.4
requests==2.2.1
six==1.7.3
speaklater==1.3
textblob==0.8.4
webassets==0.9
