


mixin vocab_table(vocab)
	p TODO



mixin grouped_columned_vocab_list(groups)
	ul.vocab-list.grouped.columned
		for key, group in groups
			li.heading= key
			for word in group
				li(data-id=word.id)= word.lemma

mixin simple_vocab_list(vocab)
	ul.vocab-list.simple
		for item in vocab
			li(data-id=item.word.id)= item.word.lemma


mixin old_vocab_list(words)
	if words|length > 100
		+grouped_columned_vocab_list(formatting.alpha_headings(words))
	else
		+simple_vocab_list(words)
