extends layouts/base.jade

- from 'mixins.jade' import formfield

block main_content
	h1 register
	form(method="post")
		!= form.csrf_token
		+formfield(form.email)
		+formfield(form.password, type="password")
		input(type="submit")
