script(src="lib/zepto.min.js")
script(src="popup.js")

style.

	body {
		width: 300px;
		font-size: 18px;
		font-family: 'Helvetica Neue', sans-serif;
	}

	.learning {
		color: #a30;
	}

	.known {
		color: #0a3;
	}

	.table {

	}

h1 page stats

h2.known
	span.percent-known 
	| % known

h2.learning
	span.percent-learning 
	| % learning

table.table
	tr
		td total words:
		td.total-all
	tr
		td unique words:
		td.total-unique
	tr
		td known:
		td.total-known
	tr
		td learning:
		td.total-learning
	tr
		td ignored:
		td.total-ignored