$primary-color: #08a;
$link-color: $primary-color;

html, body {
	// background: #eee;
	font-family: Quicksand, Arial, sans-serif;
	text-align: center;
}

.container {
	text-align: left;
}

a {
	text-decoration: none;
	&:link, &:visited {
		color: $link-color;
		&:hover {
			color: lighten($link-color, 7%);
		}
	}
}

.icon {
	font-size: 2em;
	vertical-align: baseline;
}

.humongous {
	font-size: 3em;
	font-weight: 300;
}

ul {
	list-style: none;
	padding-left: 0;
	&.bulleted {
		list-style: square inside;
	}
}

