extends layouts/base.jade

- from 'mixins.jade' import formfield, formsubmit

block main_content
	h1 documents
	ul
		for doc, stats in doc_pairs
			li
				= doc.title
				|  | 
				a(href=url_for('frontend.document_read', doc_id=doc.id)) read
				|  | 
				a(href=doc.source, target="_blank") original
				|  | 
				ul.stats 
					li
						= doc.words|length
						|  words
					li
						= "%2.0f"|format(stats.percents.known) 
						| % known
